.container{
    box-sizing: border-box;
    color: #9b9b9b;
    height: 100px;
    width: 1920px;
    background-color: rgba(88,11,119,1);
    position: relative;
    border-radius: 10px;
    padding: 30px;
    font: 16px;
    font-weight: bold;
    margin: 2%;
    margin-left: 15%;
    text-align: center;

}
.container1{
    box-sizing: border-box;   
    color: #9b9b9b;
    height: 100px;
    width: 1150px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    padding: 30px;
    font: 16px;
    font-weight: bold;
    margin: 2%;
    margin-left: 15%;
    text-align: center;
}





























.mediaViewInfo {
    --web-view-name: Area supervisor-Home;
    --web-view-id: Area_supervisor-Home;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Area_supervisor-Home;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Area_supervisor-Home {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Area supervisor-Home;
    --web-view-id: Area_supervisor-Home;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_28101 {
    position: absolute;
    width: 1920px;
    height: 980px;
    left: 0px;
    top: 100px;
    overflow: visible;
}
#Rectangle_3200 {
    fill: rgba(0,0,0,1);
}
.Rectangle_3200 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 60.1px;
    left: 0px;
    top: 0px;
}
#Path_30789 {
    fill: rgba(4,30,66,1);
}
.Path_30789 {
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.412));
    overflow: visible;
    position: absolute;
    width: 0.059px;
    height: 1316.336px;
    transform: matrix(1,0,0,1,680.9197,-598.1468) rotate(90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Group_28067 {
    position: absolute;
    width: 98px;
    height: 35px;
    left: 1600px;
    top: 15px;
    overflow: visible;
}
#Arun_Sharma {
    left: 2px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Area_Supervisor {
    left: 0px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#ID1782020_729pm {
    left: 1449px;
    top: 24px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Path_30822 {
    fill: rgba(26,26,26,1);
}
.Path_30822 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 41px;
    left: 0px;
    top: 60px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_27864 {
    position: absolute;
    width: 18.397px;
    height: 14.304px;
    left: 60px;
    top: 73px;
    overflow: visible;
}
#Path_472 {
    fill: rgba(245,245,245,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_472 {
    overflow: visible;
    position: absolute;
    width: 19.396px;
    height: 1.495px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_473 {
    fill: rgba(245,245,245,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_473 {
    overflow: visible;
    position: absolute;
    width: 19.396px;
    height: 1.495px;
    left: 0px;
    top: 6.905px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_474 {
    fill: rgba(245,245,245,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_474 {
    overflow: visible;
    position: absolute;
    width: 19.396px;
    height: 1.494px;
    left: 0px;
    top: 13.81px;
    transform: matrix(1,0,0,1,0,0);
}
#home {
    position: absolute;
    width: 16px;
    height: 14.247px;
    left: 116px;
    top: 73px;
    overflow: visible;
}
#Group_382 {
    position: absolute;
    width: 16px;
    height: 14.247px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_358 {
    fill: rgba(255,255,255,1);
}
.Path_358 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 14.247px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_27866 {
    position: absolute;
    width: 127px;
    height: 30px;
    left: 1602px;
    top: 66px;
    overflow: visible;
}
#Rectangle_3199 {
    fill: rgba(171,29,83,1);
}
.Rectangle_3199 {
    position: absolute;
    overflow: visible;
    width: 127px;
    height: 30px;
    left: 0px;
    top: 0px;
}
#Group_27865 {
    position: absolute;
    width: 100.865px;
    height: 18px;
    left: 14px;
    top: 7px;
    overflow: visible;
}
#noun_Graph_658225 {
    position: absolute;
    width: 16.699px;
    height: 14.546px;
    left: 84.166px;
    top: 0px;
    overflow: visible;
}
#Group_587 {
    position: absolute;
    width: 15.569px;
    height: 5.919px;
    left: 0.549px;
    top: 0px;
    overflow: visible;
}
#Group_586 {
    position: absolute;
    width: 15.569px;
    height: 5.919px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_420 {
    fill: rgba(255,255,255,1);
}
.Path_420 {
    overflow: visible;
    position: absolute;
    width: 15.569px;
    height: 5.919px;
    left: 0.001px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_346 {
    fill: rgba(255,255,255,1);
}
.Rectangle_346 {
    position: absolute;
    overflow: visible;
    width: 2.566px;
    height: 10.327px;
    left: 0px;
    top: 4.219px;
}
#Rectangle_347 {
    fill: rgba(255,255,255,1);
}
.Rectangle_347 {
    position: absolute;
    overflow: visible;
    width: 2.566px;
    height: 7.153px;
    left: 3.533px;
    top: 7.393px;
}
#Rectangle_348 {
    fill: rgba(255,255,255,1);
}
.Rectangle_348 {
    position: absolute;
    overflow: visible;
    width: 2.566px;
    height: 9.798px;
    left: 7.066px;
    top: 4.748px;
}
#Rectangle_349 {
    fill: rgba(255,255,255,1);
}
.Rectangle_349 {
    position: absolute;
    overflow: visible;
    width: 2.566px;
    height: 9.093px;
    left: 10.6px;
    top: 5.453px;
}
#Rectangle_350 {
    fill: rgba(255,255,255,1);
}
.Rectangle_350 {
    position: absolute;
    overflow: visible;
    width: 2.566px;
    height: 11.738px;
    left: 14.133px;
    top: 2.808px;
}
#Dashboard {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Group_27877 {
    position: absolute;
    width: 127px;
    height: 30px;
    left: 1733px;
    top: 66px;
    overflow: visible;
}
#Rectangle_3199_bl {
    opacity: 0.19;
    fill: rgba(222,220,220,1);
}
.Rectangle_3199_bl {
    position: absolute;
    overflow: visible;
    width: 127px;
    height: 30px;
    left: 0px;
    top: 0px;
}
#Group_27865_bm {
    position: absolute;
    width: 64px;
    height: 18px;
    left: 18px;
    top: 6px;
    overflow: visible;
}
#Overhead {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(155,155,155,1);
}
#noun_Eye_398580 {
    position: absolute;
    width: 16.057px;
    height: 7.814px;
    left: 93.972px;
    top: 10px;
    overflow: visible;
}
#Group_27867 {
    position: absolute;
    width: 16.057px;
    height: 7.814px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_30801 {
    fill: rgba(155,155,155,1);
}
.Path_30801 {
    overflow: visible;
    position: absolute;
    width: 16.057px;
    height: 7.814px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_27871 {
    position: absolute;
    width: 66px;
    height: 30px;
    left: 1733px;
    top: 15px;
    overflow: visible;
}
#Rectangle_1091 {
    opacity: 0.21;
    fill: rgba(255,255,255,1);
}
.Rectangle_1091 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 84px;
    height: 48px;
    left: 0px;
    top: 0px;
}
#Log_IN {
    left: 11px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(243,241,241,1);
}
#Group_27870 {
    position: absolute;
    width: 134px;
    height: 30px;
    left: 390px;
    top: 20px;
    overflow: visible;
}
#Rectangle_1091_bv {
    fill: rgba(43,43,43,1);
}
.Rectangle_1091_bv {
    position: absolute;
    overflow: visible;
    width: 134px;
    height: 30px;
    left: 0px;
    top: 0px;
}
#English {
    left: 13px;
    top: 5.5px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Path_30732 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_30732 {
    overflow: visible;
    position: absolute;
    width: 15.414px;
    height: 8.684px;
    left: 108.867px;
    top: 13.594px;
    transform: matrix(1,0,0,1,0,0);
}
#v2 {
    position: absolute;
    width: 229.062px;
    height: 28.052px;
    left: 59.999px;
    top: 19.781px;
    overflow: visible;
}
#NewCo---Homepage---Desktop---1 {
    position: absolute;
    width: 229.062px;
    height: 28.052px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group-5 {
    position: absolute;
    width: 229.062px;
    height: 28.052px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group-3 {
    position: absolute;
    width: 66.873px;
    height: 27.796px;
    left: 0px;
    top: 0.256px;
    overflow: visible;
}
#Clip-2 {
    fill: rgba(255,255,255,1);
}
.Clip-2 {
    overflow: visible;
    position: absolute;
    width: 66.873px;
    height: 27.796px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Fill-4 {
    fill: rgba(255,255,255,1);
}
.Fill-4 {
    overflow: visible;
    position: absolute;
    width: 13.029px;
    height: 19.44px;
    left: 105.287px;
    top: 1.08px;
    transform: matrix(1,0,0,1,0,0);
}
#Fill-5 {
    fill: rgba(255,255,255,1);
}
.Fill-5 {
    overflow: visible;
    position: absolute;
    width: 18.458px;
    height: 19.44px;
    left: 123.745px;
    top: 1.08px;
    transform: matrix(1,0,0,1,0,0);
}
#Fill-6 {
    fill: rgba(255,255,255,1);
}
.Fill-6 {
    overflow: visible;
    position: absolute;
    width: 15.201px;
    height: 19.44px;
    left: 150.889px;
    top: 1.08px;
    transform: matrix(1,0,0,1,0,0);
}
#Fill-7 {
    fill: rgba(255,255,255,1);
}
.Fill-7 {
    overflow: visible;
    position: absolute;
    width: 2.224px;
    height: 19.567px;
    left: 175.098px;
    top: 0.489px;
    transform: matrix(1,0,0,1,0,0);
}
#Fill-9 {
    fill: rgba(255,255,255,1);
}
.Fill-9 {
    overflow: visible;
    position: absolute;
    width: 21.36px;
    height: 20.126px;
    left: 186.667px;
    top: 0.209px;
    transform: matrix(1,0,0,1,0,0);
}
#Fill-11 {
    fill: rgba(255,255,255,1);
}
.Fill-11 {
    overflow: visible;
    position: absolute;
    width: 14.115px;
    height: 20.521px;
    left: 214.947px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Fill-12 {
    fill: rgba(255,255,255,1);
}
.Fill-12 {
    overflow: visible;
    position: absolute;
    width: 18.458px;
    height: 20.521px;
    left: 78.145px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Component_61__31 {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1825px;
    top: 13px;
    overflow: visible;
}
#Ellipse_463 {
    fill: rgba(255,255,255,1);
}
.Ellipse_463 {
    position: absolute;
    overflow: visible;
    width: 27px;
    height: 27px;
    left: 2.49px;
    top: 5.491px;
}
#noun_question_mark_187123 {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_30836 {
    fill: rgba(171,29,83,1);
}
.Path_30836 {
    overflow: visible;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_27941 {
    position: absolute;
    width: 494px;
    height: 200px;
    left: 1024px;
    top: 630px;
    overflow: visible;
}
#Rectangle_3250 {
    fill: rgba(246,225,255,1);
}
.Rectangle_3250 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 512px;
    height: 218px;
    left: 0px;
    top: 0px;
}
#Rectangle_3249 {
    fill: rgba(242,209,255,1);
}
.Rectangle_3249 {
    position: absolute;
    overflow: visible;
    width: 493px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#_Top_Downtime_Reasons__ {
    left: 153.819px;
    top: 15.49px;
    position: absolute;
    overflow: visible;
    width: 215px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#Group_28036 {
    position: absolute;
    width: 56px;
    height: 86.58px;
    left: 34px;
    top: 79.42px;
    overflow: visible;
}
#Blocked {
    left: 0px;
    top: 68.58px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#ID560 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(88,11,119,1);
}
#ID40mins {
    left: 0px;
    top: 48px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(155,155,155,1);
}
#Group_28037 {
    position: absolute;
    width: 63px;
    height: 87px;
    left: 146px;
    top: 79px;
    overflow: visible;
}
#Starved {
    left: 0px;
    top: 69px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#ID1200mins {
    left: 1px;
    top: 48.43px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(155,155,155,1);
}
#ID340 {
    left: 1px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(88,11,119,1);
}
#Group_28038 {
    position: absolute;
    width: 62px;
    height: 86.58px;
    left: 274px;
    top: 79.42px;
    overflow: visible;
}
#Stopped {
    left: 0px;
    top: 68.58px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#ID2400mins {
    left: 0px;
    top: 48px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(155,155,155,1);
}
#ID300 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(88,11,119,1);
}
#Group_28039 {
    position: absolute;
    width: 63px;
    height: 86.58px;
    left: 387px;
    top: 79.42px;
    overflow: visible;
}
#Unknown {
    left: 0px;
    top: 68.58px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#ID5000mins {
    left: 1px;
    top: 48px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(155,155,155,1);
}
#ID23 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(88,11,119,1);
}
#Group_28045 {
    position: absolute;
    width: 494px;
    height: 200px;
    left: 1024px;
    top: 847px;
    overflow: visible;
}
#Rectangle_3250_cz {
    fill: rgba(246,225,255,1);
}
.Rectangle_3250_cz {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 512px;
    height: 218px;
    left: 0px;
    top: 0px;
}
#Rectangle_3249_c {
    fill: rgba(242,209,255,1);
}
.Rectangle_3249_c {
    position: absolute;
    overflow: visible;
    width: 493px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#_Top_Waste_Reasons__ {
    left: 171.819px;
    top: 15.49px;
    position: absolute;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#Group_28036_c {
    position: absolute;
    width: 70px;
    height: 91.58px;
    left: 37px;
    top: 74px;
    overflow: visible;
}
#Blocked_c {
    left: 0px;
    top: 73.58px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#ID250kg {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(88,11,119,1);
}
#ID8_times {
    left: 0px;
    top: 53px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(155,155,155,1);
}
#Group_28037_c {
    position: absolute;
    width: 52px;
    height: 88px;
    left: 226px;
    top: 76px;
    overflow: visible;
}
#Starved_c {
    left: 0px;
    top: 70px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#ID6_times {
    left: 0px;
    top: 49.43px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(155,155,155,1);
}
#ID80kg {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(88,11,119,1);
}
#Group_28038_da {
    position: absolute;
    width: 52px;
    height: 87.58px;
    left: 410px;
    top: 76px;
    overflow: visible;
}
#Stopped_db {
    left: 0px;
    top: 69.58px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#ID1_time {
    left: 0px;
    top: 49px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(155,155,155,1);
}
#ID20kg {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(88,11,119,1);
}
#Group_28046 {
    position: absolute;
    width: 494px;
    height: 311px;
    left: 1024px;
    top: 302px;
    overflow: visible;
}
#Rectangle_3250_df {
    fill: rgba(246,225,255,1);
}
.Rectangle_3250_df {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 512px;
    height: 325px;
    left: 0px;
    top: 4px;
}
#Rectangle_3249_dg {
    fill: rgba(242,209,255,1);
}
.Rectangle_3249_dg {
    position: absolute;
    overflow: visible;
    width: 493px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#OEE {
    left: 231px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#Group_28090 {
    position: absolute;
    width: 385px;
    height: 149.453px;
    left: 55px;
    top: 108.047px;
    overflow: visible;
}
#Top_Line_OEE {
    left: 204px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(83,82,82,1);
}
#EMOL1 {
    left: 204px;
    top: 51.953px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#ID80 {
    left: 351px;
    top: 87.953px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(41,132,10,1);
}
#ID90 {
    left: 351px;
    top: 125.953px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(41,132,10,1);
}
#ID80_dn {
    left: 351px;
    top: 48.953px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(41,132,10,1);
}
#EMOL4 {
    left: 204px;
    top: 91.953px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#EMOL7 {
    left: 204px;
    top: 130.953px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Line_376 {
    fill: transparent;
    stroke: rgba(155,155,155,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_376 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 149px;
    left: 175.5px;
    top: 0.453px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_27889 {
    position: absolute;
    width: 148px;
    height: 148.001px;
    left: -0.001px;
    top: 0.952px;
    overflow: visible;
}
#All_Lines {
    left: 48.001px;
    top: 79.001px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(83,82,82,1);
}
#ID70 {
    left: 58.001px;
    top: 55.001px;
    position: absolute;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(41,132,10,1);
}
#Group_27859 {
    position: absolute;
    width: 148px;
    height: 148.001px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Exclusion_1 {
    fill: rgba(211,211,211,1);
}
.Exclusion_1 {
    overflow: visible;
    position: absolute;
    width: 148px;
    height: 148px;
    left: 0.001px;
    top: 0.001px;
    transform: matrix(1,0,0,1,0,0);
}
#Subtraction_12 {
    fill: rgba(41,132,10,1);
}
.Subtraction_12 {
    overflow: visible;
    position: absolute;
    width: 144.455px;
    height: 148px;
    left: 3.544px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_28069 {
    position: absolute;
    width: 837px;
    height: 76px;
    left: 1024px;
    top: 208px;
    overflow: visible;
}
#Rectangle_3249_dy {
    fill: rgba(88,11,119,1);
}
.Rectangle_3249_dy {
    position: absolute;
    overflow: visible;
    width: 837px;
    height: 76px;
    left: 0px;
    top: 0px;
}
#Total_Unit_Production {
    left: 50.819px;
    top: 11.486px;
    position: absolute;
    overflow: visible;
    width: 163px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(155,155,155,1);
}
#ID5200 {
    left: 89.896px;
    top: 32.486px;
    position: absolute;
    overflow: visible;
    width: 70px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Units_Produced {
    left: 360.02px;
    top: 11.486px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(155,155,155,1);
}
#ID4900 {
    left: 383.794px;
    top: 31.486px;
    position: absolute;
    overflow: visible;
    width: 70px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Waste {
    left: 673.105px;
    top: 9.486px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(155,155,155,1);
}
#ID350 {
    left: 669.965px;
    top: 32.486px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Path_30831 {
    fill: transparent;
    stroke: rgba(138,0,206,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_30831 {
    overflow: visible;
    position: absolute;
    width: 2px;
    height: 56.021px;
    left: 278.934px;
    top: 9.007px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_30832 {
    fill: transparent;
    stroke: rgba(138,0,206,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_30832 {
    overflow: visible;
    position: absolute;
    width: 2px;
    height: 56.021px;
    left: 557.275px;
    top: 9.007px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_27986 {
    position: absolute;
    width: 326px;
    height: 400px;
    left: 1535px;
    top: 301px;
    overflow: visible;
}
#Group_28048 {
    position: absolute;
    width: 326px;
    height: 400px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_3194 {
    fill: rgba(246,225,255,1);
}
.Rectangle_3194 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 344px;
    height: 418px;
    left: 0px;
    top: 0px;
}
#Alerts {
    left: 137px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(171,29,83,1);
}
#Rectangle_3231 {
    fill: rgba(242,209,255,1);
}
.Rectangle_3231 {
    position: absolute;
    overflow: visible;
    width: 326px;
    height: 74px;
    left: 0px;
    top: 67px;
}
#Rectangle_3245 {
    fill: rgba(242,209,255,1);
}
.Rectangle_3245 {
    position: absolute;
    overflow: visible;
    width: 326px;
    height: 74px;
    left: 0px;
    top: 144px;
}
#Rectangle_3232 {
    fill: rgba(242,209,255,1);
}
.Rectangle_3232 {
    position: absolute;
    overflow: visible;
    width: 326px;
    height: 74px;
    left: 0px;
    top: 221px;
}
#Rectangle_3240 {
    fill: rgba(242,209,255,1);
}
.Rectangle_3240 {
    position: absolute;
    overflow: visible;
    width: 326px;
    height: 74px;
    left: 0px;
    top: 299px;
}
#Group_27905 {
    position: absolute;
    width: 185px;
    height: 60px;
    left: 74px;
    top: 74px;
    overflow: visible;
}
#ID3 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Production_Alert______________ {
    left: 0px;
    top: 21px;
    position: absolute;
    overflow: visible;
    width: 186px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#EMOL6_________________________ {
    left: 0px;
    top: 42px;
    position: absolute;
    overflow: visible;
    width: 183px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Group_28079 {
    position: absolute;
    width: 190px;
    height: 60px;
    left: 74px;
    top: 151px;
    overflow: visible;
}
#ID3_ek {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Quality_Alert_________________ {
    left: 0px;
    top: 21px;
    position: absolute;
    overflow: visible;
    width: 162px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#EMOL8_________________________ {
    left: 0px;
    top: 42px;
    position: absolute;
    overflow: visible;
    width: 191px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Group_28080 {
    position: absolute;
    width: 182px;
    height: 60px;
    left: 74px;
    top: 228px;
    overflow: visible;
}
#ID2 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Quality_Alert__________________ep {
    left: 0px;
    top: 21px;
    position: absolute;
    overflow: visible;
    width: 162px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#EMOL5_________________________ {
    left: 0px;
    top: 42px;
    position: absolute;
    overflow: visible;
    width: 183px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Group_28081 {
    position: absolute;
    width: 185px;
    height: 60px;
    left: 74px;
    top: 306px;
    overflow: visible;
}
#ID1 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Production_Alert_______________et {
    left: 0px;
    top: 21px;
    position: absolute;
    overflow: visible;
    width: 186px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#EMOL1_________________________ {
    left: 0px;
    top: 42px;
    position: absolute;
    overflow: visible;
    width: 183px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#noun_Alert_2805719 {
    position: absolute;
    width: 21.992px;
    height: 18.658px;
    left: 22.834px;
    top: 95px;
    overflow: visible;
}
#Group_27883 {
    position: absolute;
    width: 21.992px;
    height: 18.658px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_30807 {
    fill: rgba(238,52,52,1);
}
.Path_30807 {
    overflow: visible;
    position: absolute;
    width: 21.992px;
    height: 18.657px;
    left: -0.001px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#noun_Alert_2805719_ey {
    position: absolute;
    width: 21.992px;
    height: 18.658px;
    left: 22.834px;
    top: 172px;
    overflow: visible;
}
#Group_27883_ez {
    position: absolute;
    width: 21.992px;
    height: 18.658px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_30807_e {
    fill: rgba(238,52,52,1);
}
.Path_30807_e {
    overflow: visible;
    position: absolute;
    width: 21.992px;
    height: 18.657px;
    left: -0.001px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#noun_Alert_2805719_e {
    position: absolute;
    width: 21.992px;
    height: 18.658px;
    left: 22.834px;
    top: 249px;
    overflow: visible;
}
#Group_27883_e {
    position: absolute;
    width: 21.992px;
    height: 18.658px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_30807_fa {
    fill: rgba(248,158,25,1);
}
.Path_30807_fa {
    overflow: visible;
    position: absolute;
    width: 21.992px;
    height: 18.657px;
    left: -0.001px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#noun_Alert_2805719_fa {
    position: absolute;
    width: 21.992px;
    height: 18.658px;
    left: 22.834px;
    top: 327px;
    overflow: visible;
}
#Group_27883_fa {
    position: absolute;
    width: 21.992px;
    height: 18.658px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_30807_fb {
    fill: rgba(244,216,36,1);
}
.Path_30807_fb {
    overflow: visible;
    position: absolute;
    width: 21.992px;
    height: 18.657px;
    left: -0.001px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Bur_Montaje {
    left: 1026px;
    top: 157px;
    position: absolute;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Department__Bur_Montaje {
    left: 60px;
    top: 971px;
    position: absolute;
    overflow: visible;
    width: 208px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
#Plant__Burgos_Plant {
    left: 60px;
    top: 942px;
    position: absolute;
    overflow: visible;
    width: 155px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
#Welcome_to_Clarios_OEE_ {
    left: 60px;
    top: 873px;
    position: absolute;
    overflow: visible;
    width: 517px;
    white-space: nowrap;
    line-height: 68px;
    margin-top: -11.5px;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
#Hi_Arun_Sharma {
    left: 60px;
    top: 841px;
    position: absolute;
    overflow: visible;
    width: 141px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
#Component_62__11 {
    position: absolute;
    width: 134px;
    height: 30px;
    left: 60px;
    top: 1006px;
    overflow: visible;
}
#Rectangle_1091_fd {
    fill: rgba(255,255,255,1);
}
.Rectangle_1091_fd {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 152px;
    height: 48px;
    left: 0px;
    top: 0px;
}
#Area {
    left: 13px;
    top: 7.5px;
    position: absolute;
    overflow: visible;
    width: 26px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -2px;
    text-align: left;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(62,62,62,1);
}
#Path_30732_ff {
    fill: transparent;
    stroke: rgba(62,62,62,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_30732_ff {
    overflow: visible;
    position: absolute;
    width: 15.414px;
    height: 8.684px;
    left: 108.867px;
    top: 13.594px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_28083 {
    position: absolute;
    width: 326px;
    height: 329px;
    left: 1535px;
    top: 718px;
    overflow: visible;
}
#Rectangle_3194_fh {
    fill: rgba(246,225,255,1);
}
.Rectangle_3194_fh {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 344px;
    height: 347px;
    left: 0px;
    top: 0px;
}
#Task_Notification {
    left: 91px;
    top: 17.112px;
    position: absolute;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(171,29,83,1);
}
#Rectangle_3231_fj {
    fill: rgba(242,209,255,1);
}
.Rectangle_3231_fj {
    position: absolute;
    overflow: visible;
    width: 324px;
    height: 70px;
    left: 0px;
    top: 67.521px;
}
#Rectangle_3260 {
    fill: rgba(242,209,255,1);
}
.Rectangle_3260 {
    position: absolute;
    overflow: visible;
    width: 324px;
    height: 70px;
    left: 0px;
    top: 221px;
}
#Group_28049 {
    position: absolute;
    width: 104px;
    height: 18px;
    left: 21px;
    top: 96.621px;
    overflow: visible;
}
#Line_Production {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Group_28082 {
    position: absolute;
    width: 96px;
    height: 18px;
    left: 21px;
    top: 249.605px;
    overflow: visible;
}
#Quality_Report {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Rectangle_3257 {
    fill: rgba(171,29,83,1);
}
.Rectangle_3257 {
    position: absolute;
    overflow: visible;
    width: 9px;
    height: 70px;
    left: 317px;
    top: 67.521px;
}
#Rectangle_3261 {
    fill: rgba(171,29,83,1);
}
.Rectangle_3261 {
    position: absolute;
    overflow: visible;
    width: 9px;
    height: 70px;
    left: 317px;
    top: 221px;
}
#Group_28051 {
    position: absolute;
    width: 326px;
    height: 70px;
    left: 0px;
    top: 144.113px;
    overflow: visible;
}
#Rectangle_3256 {
    fill: rgba(242,209,255,1);
}
.Rectangle_3256 {
    position: absolute;
    overflow: visible;
    width: 326px;
    height: 70px;
    left: 0px;
    top: 0px;
}
#Group_28050 {
    position: absolute;
    width: 105px;
    height: 39px;
    left: 17px;
    top: 17px;
    overflow: visible;
}
#Group_27940 {
    position: absolute;
    width: 105px;
    height: 18px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Shift_end_report {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Group_28032 {
    position: absolute;
    width: 54px;
    height: 18px;
    left: 0px;
    top: 21px;
    overflow: visible;
}
#ID4_hrs_left {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(83,82,82,1);
}
#Rectangle_3259 {
    fill: rgba(171,29,83,1);
}
.Rectangle_3259 {
    position: absolute;
    overflow: visible;
    width: 9px;
    height: 70px;
    left: 317px;
    top: 0px;
}
#View {
    left: 246px;
    top: 170.094px;
    position: absolute;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(171,29,83,1);
}
#View_f {
    left: 246px;
    top: 246.586px;
    position: absolute;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(171,29,83,1);
}
#Schedule {
    left: 246px;
    top: 93.602px;
    position: absolute;
    overflow: visible;
    width: 60px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft Tai Le;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(171,29,83,1);
}